<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/myblog.css">
    <link crossorigin='anonymous' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/fontawesome.min.css' integrity='sha512-UuQ/zJlbMVAw/UU8vVBhnI4op+/tFOpQZVT+FormmIEhRSCnJWyHiBbEVgM4Uztsht41f3FzVWgLuwzUqOObKw==' referrerpolicy='no-referrer' rel='stylesheet'/>
    <link crossorigin='anonymous' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/brands.min.css' integrity='sha512-DJLNx+VLY4aEiEQFjiawXaiceujj5GA7lIY8CHCIGQCBPfsEG0nGz1edb4Jvw1LR7q031zS5PpPqFuPA8ihlRA==' referrerpolicy='no-referrer' rel='stylesheet'/>
    <link crossorigin='anonymous' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/solid.min.css' integrity='sha512-Hp+WwK4QdKZk9/W0ViDvLunYjFrGJmNDt6sCflZNkjgvNq9mY+0tMbd6tWMiAlcf1OQyqL4gn2rYp7UsfssZPA==' referrerpolicy='no-referrer' rel='stylesheet'/>
    <title>Title</title>
</head>
<body>
<div class="header">
    <div class="navbar-top">
        <div class="btn-start"><a href="#"><i class="fa-brands fa-quinscape fa-xl" style="color: #000000;"></i></a></div>
<!--        <div class="btn-mid"></div>-->
        <div class="btn-etc"><a href="#"><i class="fa-solid fa-angles-left fa-xl" style="color: #1e3050;"></i></a></div>
        <div class="btn-etc-toggle" hidden>
            <ul>
                <li class="music">Back-end Developer</li>
                <li class="resume">Front-end Developer</li>
                <li class="sponsor">Mobile Developer</li>
                <li class="date">Database Administrator</li>
                <li class="user">DevOps Developer</li>
            </ul>
        </div>
    </div>
</div>
<div class="btn-start-toggle" hidden>
    <ul>
        <li class="back-end">Back-end Developer</li>
        <li class="front-end">Front-end Developer</li>
        <li class="mobile-dev">Mobile Developer</li>
        <li class="database-admin">Database Administrator</li>
        <li class="devops-dev">DevOps Developer</li>
        <li class="cyber-sec">CyberSecurity Analyst</li>
        <li class="iot-dev">IoT Engineer</li>
    </ul>
</div>
<div class="content"></div>
<div class="footer">
    <div class="navbar-bottom">
        <div class="btn-center">
            <a href="#"><img src="image/menu.png" alt="" draggable="false"></a>
            <a href="https://facebook.com/qorri.di"><img src="image/facebook.png" alt="" draggable="false"></a>
            <a href="https://twitter.com/qorri_di"><img src="image/twitter.png" alt="" draggable="false"></a>
            <a href="https://instagram.com/qorri_di"><img src="image/instagram.png" alt="" draggable="false"></a>
            <a href="https://www.threads.net/@qorri_di"><img src="image/threads.png" alt="" draggable="false"></a>
            <a href="https://www.tiktok.com/@qorri_di"><img src="image/tiktok.png" alt="" draggable="false"></a>
            <a href="https://www.youtube.com/@qorri-di"><img src="image/youtube.png" alt="" draggable="false"></a>
            <a href="https://www.linkedin.com/in/qorri-di/"><img src="image/linkedin.png" alt="" draggable="false"></a>
            <a href="https://github.com/qorri-di"><img src="image/github.png" alt="" draggable="false"></a>
            <a href="mailto:admin@qorri-di.com"><img src="image/mail.png" alt="" draggable="false"></a>
        </div>
    </div>
</div>
<script src="js/myblog.js"></script>
</body>
</html>